# __ETL__ _(Extract, Transform, Load)_

## Introducción

Este notebook se enfoca en el proceso de **ETL** utilizando datos extraídos de las plataformas Yelp y Google Maps. Este proceso implica una _extracccion,transformación y carga_ de los datos con el objetivo de prepararlos para análisis posteriores. Este paso es crucial en cualquier proyecto de ciencia de datos para garantizar la calidad y utilidad de los datos.

## Configuraciones Globales e Importaciones

En esta sección, se instalan e importan todas las librerías y/o módulos necesarios para el proceso ETL (Extract, Transform, Load) y se establecen configuraciones globales de ser requerido. Se utilizan las siguientes librerías y herramientas:

In [1]:
import warnings
warnings.filterwarnings("ignore") # Se utiliza para gestionar las advertencias y mantener el código limpio.

In [48]:
import os # Proporciona funciones para interactuar con el sistema operativo.
import requests # Se utiliza para realizar solicitudes HTTP.
import pandas as pd # Una librería de análisis de datos.
import seaborn as sns #S e utiliza para la visualización de datos.
import pyspark.pandas as ps # Proporciona una interfaz para trabajar con datos en Spark utilizando el formato de DataFrame de pandas.
import json # Se utiliza para trabajar con datos en formato JSON.
from pyspark.sql import SparkSession # Se utiliza para crear una instancia de SparkSession, que es la entrada principal para trabajar con Spark SQL.
from pyspark.sql import functions as F #  Proporciona funciones para trabajar con datos en Spark DataFrame.
from pyspark.sql.functions import array_contains # Esta función se utiliza para filtrar los datos basados en la presencia de un valor en un array.
from pyspark.sql.functions import sum, col # Se utiliza para acceder a una columna en un DataFrame de Spark.
from pyspark.sql.functions import split, substring, concat_ws
from pyspark.sql.functions import expr

In [59]:
# Crear una sesión de Spark
spark = SparkSession.builder\
        .master("local")\
        .appName("ETL-metadata-sitios")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

# GOOGLE MAPS

**Dataset:** metadata-sitios

DECLARACIÓN DE LA RUTA DE LOS DATA SET

In [5]:
# Ruta local donde se encuentran los archivos JSON
ruta_local = "C:/Users/Usuario/Desktop/Proyecto Final/metadata-sitios"

# Lista para almacenar los DataFrames de metadatos
metadata_df = []

# Iteración sobre los archivos JSON del 1 al 11
for i in range(1, 12):
    # Lectura del archivo JSON utilizando Spark
    archivo = spark.read.json(f"{ruta_local}/{i}.json")
    
    # Conversión de la columna "MISC" a tipo de datos "string"
    archivo = archivo.withColumn("MISC", col("MISC").cast("string"))
    
    # Agregar el DataFrame a la lista de metadatos
    metadata_df.append(archivo)

# DataFrame final para almacenar los datos combinados
df_final = metadata_df[0]

# Unión de los DataFrames de metadatos utilizando unionByName
for dataframe in metadata_df[1:]:
    df_final = df_final.unionByName(dataframe)

# Sobrescribir metadata_df con el DataFrame final combinado
metadata_df = df_final

In [6]:
# Mostrar el DataFrame
metadata_df.show()

+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------+-----+--------------------+--------------------+--------------------+
|                MISC|             address|avg_rating|            category|         description|             gmap_id|               hours|          latitude|          longitude|                name|num_of_reviews|price|    relative_results|               state|                 url|
+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------+-----+--------------------+--------------------+--------------------+
|{[Wheelchair acce...|Porter Pharmacy, ...|       4.9|          [Pharmacy]|                NULL|0x88f16e41928ff68...|[[Friday, 8AM–6PM...|           32.3883|           -83.3571|     Porter Pharmacy|            16| NULL|[0x88f16e41929435...|   Open ⋅ Closes 6PM|https://www.googl...|
|                NULL|City Textile, 300...|       4.5|  [Textile exporter]|                NULL|0x80c2c98c0e3c16f...|                NULL|        34.0188913|       -118.2152898|        City Textile|             6| NULL|[0x80c2c624136ea8...|            Open now|https://www.googl...|
|{[Wheelchair acce...|San Soo Dang, 761...|       4.4| [Korean restaurant]|                NULL|0x80c2c778e3b73d3...|[[Thursday, 6:30A...|        34.0580917|       -118.2921295|        San Soo Dang|            18| NULL|[0x80c2c78249aba6...|   Open ⋅ Closes 6PM|https://www.googl...|
|{null, null, null...|Nova Fabrics, 220...|       3.3|      [Fabric store]|                NULL|0x80c2c89923b27a4...|[[Thursday, 9AM–5...|        34.0236689|       -118.2329297|        Nova Fabrics|             6| NULL|[0x80c2c881147725...|   Open ⋅ Closes 5PM|https://www.googl...|
|{null, null, null...|Nobel Textile Co,...|       4.3|      [Fabric store]|                NULL|0x80c2c632f933b07...|[[Thursday, 9AM–5...|        34.0366942|       -118.2494208|    Nobel Textile Co|             7| NULL|[0x80c2c62c496083...|   Open ⋅ Closes 5PM|https://www.googl...|
|{[Wheelchair acce...|Matrix Internatio...|       3.5|      [Fabric store]|                NULL|0x80c2cf163db6bc8...|[[Thursday, 8:30A...|        34.0155047|       -118.1818394|Matrix Internatio...|             6| NULL|[0x80c2cf042a5d95...|Open ⋅ Closes 5:30PM|https://www.googl...|
|{[Wheelchair acce...|Vons Chicken, 127...|       4.5|        [Restaurant]|                NULL|0x80dd2b4c8555edb...|[[Thursday, 11AM–...|        33.9164023|-118.01085499999999|        Vons Chicken|            18| NULL|                NULL|Open ⋅ Closes 9:30PM|https://www.googl...|
|{[Wheelchair acce...|Polished Nail Sal...|       4.0|[Nail salon, Waxi...|                NULL|0x87ec238afdd8837...|[[Thursday, 9AM–8...|41.614197999999995|        -93.8472695|Polished Nail Sal...|            86| NULL|[0x87ec2481df68e1...|   Open ⋅ Closes 8PM|https://www.googl...|
|{null, null, null...|Sweet Rewards Glu...|       4.7|[Bakery, Health f...|                NULL|0x87ec235c54d25b3...|[[Thursday, 10AM–...|         41.616079|         -93.865487|Sweet Rewards Glu...|            21| NULL|[0x87ee9748692955...|  Permanently closed|https://www.googl...|
|                NULL|                NULL|       5.0|[Greeting card sh...|                NULL|0x87ee85ac3cb23b4...|[[Thursday, 7AM–8...|         41.846035|        -93.7561175|           PeepNotes|             1| NULL|[0x87ee915d9604ea...|   Open ⋅ Closes 8PM|https://www.googl...|
|{[Wheelchair acce...|Lush Family Denta...|       5.0|[Dentist, Cosmeti...|                NULL|0x87ec2394c2cd9d2...|[[Thursday, 7AM–4...|        41.5852916|        -93.8551126|  Lush Family Dental|           178| NULL|[0x87ec2482098b66...|   Open ⋅ Closes 4PM|https://www.googl...|
|{[Wheelchair acce...|515 Auto Shades, ...|       5.0|[Auto glass shop,...|                NULL|0x87ee95d1e474531...|[[Thursday, 9AM–6...|         41.606082|        -93.4986302|     515 Auto Shades|            28| NULL|                NULL|   Open ⋅ Closes 6PM|https://www.googl...|
|{[Wheelchair acce...|Lena’s Beauty Nai...|       4.2|      [Beauty salon]|                NULL|0x87ec2481df6626b...|[[Thursday, 9AM–7...|        41.6163101|         -93.858345|Lena’s Beauty Nai...|           128| NULL|[0x87ec20ce836cac...|   Open ⋅ Closes 7PM|https://www.googl...|
|{[Wheelchair acce...|Black Tie Ski Ren...|       5.0|[Ski rental servi...|                NULL|0x80960c29f2e3bf2...|[[Thursday, 8AM–5...|37.638754399999996|-118.96605509999999|Black Tie Ski Ren...|            34| NULL|[0x80960dcd6ba767...|   Open ⋅ Closes 5PM|https://www.googl...|
|{[Wheelchair acce...|NTK OUTDOOR, 2315...|       5.0|  [Corporate office]|                NULL|0x88d9beb4fe0532c...|[[Thursday, 9AM–6...|        25.7952041|        -80.3660381|         NTK OUTDOOR|            35| NULL|[0x88d9bfd49a624c...|   Open ⋅ Closes 6PM|https://www.googl...|
|                NULL|Angel-A Massage, ...|       4.3|[Massage spa, Chi...|                NULL|0x809adef58ae560b...|[[Thursday, 9:30A...|        38.6626297|       -121.3086388|     Angel-A Massage|             6| NULL|[0x809adee9ac6f1b...|Open ⋅ Closes 9:30PM|https://www.googl...|
|{[Wheelchair acce...|Dunn-Edwards Pain...|       4.7|[Paint store, Pai...|Chain selling int...|0x809b1ff6d3a60c4...|[[Thursday, 6:30A...|        38.7434619|       -121.2587612| Dunn-Edwards Paints|            26| NULL|[0x809b201630f908...|   Open ⋅ Closes 5PM|https://www.googl...|
|                NULL|Elite Massage, 81...|       5.0| [Massage therapist]|                NULL|0x809ae0a7ce91433...|                NULL|        38.6649155|       -121.2601916|       Elite Massage|             1| NULL|[0x809ade27605def...|                NULL|https://www.googl...|
|{[Wheelchair acce...|PODS Sacramento H...|       4.0|  [Corporate office]|                NULL|0x809ad95924805cf...|                NULL|         38.658994|       -121.4129579| PODS Sacramento Hub|             8| NULL|[0x809ad8fc85a035...|            Open now|https://www.googl...|
|{[Wheelchair acce...|Happy Spa & Massa...|       2.7|[Massage therapis...|                NULL|0x809b217a6cbe4fa...|[[Thursday, 9:30A...|        38.7855482|       -121.2868859|Happy Spa & Massa...|             8| NULL|[0x809b20410d8df0...|  Open ⋅ Closes 10PM|https://www.googl...|
+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------+-----+--------------------+--------------------+--------------------+
only showing top 20 rows

In [13]:
#Muestra el número de filas del DataFrame
metadata_df.count()

3025011

In [11]:
# Cuenta el número de nulos en cada columna

def conteo_nulos(dataframe):
    # Construye expresiones de agregación para contar nulos en cada columna
    expresiones_agregacion = [sum(col(c).isNull().cast("int")).alias(c) for c in dataframe.columns]

    # Aplica las expresiones de agregación al dataframe
    conteo_nulos_por_columna = dataframe.agg(*expresiones_agregacion)

    # Muestra el resultado
    conteo_nulos_por_columna.show()

In [12]:
# Llama a la función con tu dataframe
conteo_nulos(metadata_df)

+------+-------+----------+--------+-----------+-------+------+--------+---------+----+--------------+-------+----------------+------+---+
|  MISC|address|avg_rating|category|description|gmap_id| hours|latitude|longitude|name|num_of_reviews|  price|relative_results| state|url|
+------+-------+----------+--------+-----------+-------+------+--------+---------+----+--------------+-------+----------------+------+---+
|690834|  80511|         0|   17419|    2770722|      0|787405|       0|        0|  37|             0|2749808|          295058|746455|  0|
+------+-------+----------+--------+-----------+-------+------+--------+---------+----+--------------+-------+----------------+------+---+

In [20]:
#Función para la obtención de los primeros datos en columnas especificas

def obtener_primer_dato(dataframe, columna):
    # Selecciona la columna especificada y extrae el primer dato
    primer_dato = dataframe.select(columna).first()[0]
    return primer_dato

In [21]:
# Llama a la función con tu dataframe y el nombre de la columna
primer_dato_misc = obtener_primer_dato(metadata_df, "MISC")
print("Primer dato en la columna MISC:", primer_dato_misc)

Primer dato en la columna MISC: {[Wheelchair accessible entrance], null, null, null, null, null, null, null, [Mask required, Staff required to disinfect surfaces between visits], null, null, null, [Quick visit], null, null, [In-store shopping, Same-day delivery]}

In [22]:
# Llama a la función con tu dataframe y el nombre de la columna
primer_dato_desc = obtener_primer_dato(metadata_df, "description")
print("Primer dato en la columna description:", primer_dato_desc)

Primer dato en la columna description: None

In [23]:
# Llama a la función con tu dataframe y el nombre de la columna
primer_dato_hours = obtener_primer_dato(metadata_df, "hours")
print("Primer dato en la columna hours:", primer_dato_hours)

Primer dato en la columna hours: [['Friday', '8AM–6PM'], ['Saturday', '8AM–12PM'], ['Sunday', 'Closed'], ['Monday', '8AM–6PM'], ['Tuesday', '8AM–6PM'], ['Wednesday', '8AM–12PM'], ['Thursday', '8AM–6PM']]

In [24]:
# Llama a la función con tu dataframe y el nombre de la columna
primer_dato_price = obtener_primer_dato(metadata_df, "price")
print("Primer dato en la columna price:", primer_dato_price)

Primer dato en la columna price: None

In [25]:
# Llama a la función con tu dataframe y el nombre de la columna
primer_dato_rr = obtener_primer_dato(metadata_df, "relative_results")
print("Primer dato en la columna relative_results:", primer_dato_rr)

Primer dato en la columna relative_results: ['0x88f16e41929435cf:0x5b2532a2885e9ef6', '0x88f16c32716531c1:0x5f19bdaa5044e4fa', '0x88f16e6e3f4a21df:0xcf495da9bb4d89ea']

In [26]:
# Llama a la función con tu dataframe y el nombre de la columna
primer_dato_state = obtener_primer_dato(metadata_df, "state")
print("Primer dato en la columna state:", primer_dato_state)

Primer dato en la columna state: Open ⋅ Closes 6PM

In [27]:
# Lista de columnas a eliminar 
columnas_a_eliminar = ['MISC', 'state', 'price', 'hours', 'description', 'relative_results']

In [28]:
# Elimina las columnas especificadas 
df = metadata_df.select([columna for columna in metadata_df.columns if columna not in columnas_a_eliminar])

In [29]:
# Mostrar el DataFrame
df.show()

+--------------------+----------+--------------------+--------------------+------------------+-------------------+--------------------+--------------+--------------------+
|             address|avg_rating|            category|             gmap_id|          latitude|          longitude|                name|num_of_reviews|                 url|
+--------------------+----------+--------------------+--------------------+------------------+-------------------+--------------------+--------------+--------------------+
|Porter Pharmacy, ...|       4.9|          [Pharmacy]|0x88f16e41928ff68...|           32.3883|           -83.3571|     Porter Pharmacy|            16|https://www.googl...|
|City Textile, 300...|       4.5|  [Textile exporter]|0x80c2c98c0e3c16f...|        34.0188913|       -118.2152898|        City Textile|             6|https://www.googl...|
|San Soo Dang, 761...|       4.4| [Korean restaurant]|0x80c2c778e3b73d3...|        34.0580917|       -118.2921295|        San Soo Dang|            18|https://www.googl...|
|Nova Fabrics, 220...|       3.3|      [Fabric store]|0x80c2c89923b27a4...|        34.0236689|       -118.2329297|        Nova Fabrics|             6|https://www.googl...|
|Nobel Textile Co,...|       4.3|      [Fabric store]|0x80c2c632f933b07...|        34.0366942|       -118.2494208|    Nobel Textile Co|             7|https://www.googl...|
|Matrix Internatio...|       3.5|      [Fabric store]|0x80c2cf163db6bc8...|        34.0155047|       -118.1818394|Matrix Internatio...|             6|https://www.googl...|
|Vons Chicken, 127...|       4.5|        [Restaurant]|0x80dd2b4c8555edb...|        33.9164023|-118.01085499999999|        Vons Chicken|            18|https://www.googl...|
|Polished Nail Sal...|       4.0|[Nail salon, Waxi...|0x87ec238afdd8837...|41.614197999999995|        -93.8472695|Polished Nail Sal...|            86|https://www.googl...|
|Sweet Rewards Glu...|       4.7|[Bakery, Health f...|0x87ec235c54d25b3...|         41.616079|         -93.865487|Sweet Rewards Glu...|            21|https://www.googl...|
|                NULL|       5.0|[Greeting card sh...|0x87ee85ac3cb23b4...|         41.846035|        -93.7561175|           PeepNotes|             1|https://www.googl...|
|Lush Family Denta...|       5.0|[Dentist, Cosmeti...|0x87ec2394c2cd9d2...|        41.5852916|        -93.8551126|  Lush Family Dental|           178|https://www.googl...|
|515 Auto Shades, ...|       5.0|[Auto glass shop,...|0x87ee95d1e474531...|         41.606082|        -93.4986302|     515 Auto Shades|            28|https://www.googl...|
|Lena’s Beauty Nai...|       4.2|      [Beauty salon]|0x87ec2481df6626b...|        41.6163101|         -93.858345|Lena’s Beauty Nai...|           128|https://www.googl...|
|Black Tie Ski Ren...|       5.0|[Ski rental servi...|0x80960c29f2e3bf2...|37.638754399999996|-118.96605509999999|Black Tie Ski Ren...|            34|https://www.googl...|
|NTK OUTDOOR, 2315...|       5.0|  [Corporate office]|0x88d9beb4fe0532c...|        25.7952041|        -80.3660381|         NTK OUTDOOR|            35|https://www.googl...|
|Angel-A Massage, ...|       4.3|[Massage spa, Chi...|0x809adef58ae560b...|        38.6626297|       -121.3086388|     Angel-A Massage|             6|https://www.googl...|
|Dunn-Edwards Pain...|       4.7|[Paint store, Pai...|0x809b1ff6d3a60c4...|        38.7434619|       -121.2587612| Dunn-Edwards Paints|            26|https://www.googl...|
|Elite Massage, 81...|       5.0| [Massage therapist]|0x809ae0a7ce91433...|        38.6649155|       -121.2601916|       Elite Massage|             1|https://www.googl...|
|PODS Sacramento H...|       4.0|  [Corporate office]|0x809ad95924805cf...|         38.658994|       -121.4129579| PODS Sacramento Hub|             8|https://www.googl...|
|Happy Spa & Massa...|       2.7|[Massage therapis...|0x809b217a6cbe4fa...|        38.7855482|       -121.2868859|Happy Spa & Massa...|             8|https://www.googl...|
+--------------------+----------+--------------------+--------------------+------------------+-------------------+--------------------+--------------+--------------------+
only showing top 20 rows

In [31]:
# Encuentra las filas duplicadas en el DataFrame
duplicados = df.subtract(df.dropDuplicates())
# Muestra los registros duplicados
duplicados.show()

+-------+----------+--------+-------+--------+---------+----+--------------+---+
|address|avg_rating|category|gmap_id|latitude|longitude|name|num_of_reviews|url|
+-------+----------+--------+-------+--------+---------+----+--------------+---+
+-------+----------+--------+-------+--------+---------+----+--------------+---+

In [34]:
#Mostrar la estructura de mi dataframe
df.printSchema()

root
 |-- address: string (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- category: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- gmap_id: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- num_of_reviews: long (nullable = true)
 |-- url: string (nullable = true)

In [35]:
# Elimina las 'gmap_id' duplicados 
df = df.dropDuplicates(['gmap_id'])

In [36]:
#Pasa la columna 'category' a tipo string 
df = df.withColumn("category", col("category").cast("string"))

In [37]:
# Llama a la función con tu dataframe y el nombre de la columna
primer_dato_category = obtener_primer_dato(df, "category")
print("Primer dato en la columna category:", primer_dato_category)

Primer dato en la columna category: [Bank, Car finance and loan company, Financial planner, Loan agency, Mortgage lender]

In [38]:
# Filtra las filas que contienen 'restaurant' en la columna 'category' 
df = df.filter((col("category").contains('restaurant')) | (col("category").contains('Restaurant')))

In [49]:
# Utiliza la función substring para eliminar el primer y último caracter de la columna 'category' 
df = df.withColumn("category", expr("substring(category, 2, length(category)-2)"))

In [40]:
# Llama a la función con tu dataframe y el nombre de la columna
primer_dato_address = obtener_primer_dato(df, "address")
print("Primer dato en la columna address:", primer_dato_address)

Primer dato en la columna address: Ceviche Jax, 27 Seminole Rd, Atlantic Beach, FL 32233, United States

In [43]:
# Separa la columna 'address' en 3 columnas: 'address', 'city' y 'state' 
split_col = split(df['address'], ',') 
df = df.withColumn('state', substring(split_col.getItem(3), 2, 2)) 
df = df.withColumn('city', split_col.getItem(2)) 
df = df.withColumn('address', concat_ws(',', split_col.getItem(0), split_col.getItem(1)))

In [44]:
# Mostrar el DataFrame
df.show()

+--------------------+----------+--------------------+--------------------+------------------+------------------+--------------------+--------------+--------------------+-----+----------------+
|             address|avg_rating|            category|             gmap_id|          latitude|         longitude|                name|num_of_reviews|                 url|state|            city|
+--------------------+----------+--------------------+--------------------+------------------+------------------+--------------------+--------------+--------------------+-----+----------------+
|La Posada Del Rey...|       4.8|[Mexican restaurant]|0x145c2bc56025f08...|        29.5051316|       -98.4581639|   La Posada Del Rey|             8|https://www.googl...|   TX|     San Antonio|
|Oasis Restaurant,...|       3.9|        [Restaurant]|0x145e82e3ab31e24...|29.571551999999997|      -104.3689397|    Oasis Restaurant|            98|https://www.googl...|   TX|        Presidio|
|Giovanni's Pizzer...|       3.5|[Pizza restaurant...|0x146d2f9feb2f260...|        26.2882651|       -80.2028028|Giovanni's Pizzer...|           108|https://www.googl...|   Co|            FL-7|
|Cilantro'S By Ric...|       3.7|[Mexican restaurant]|0x146d33173552289...|         26.170004|        -97.998532|Cilantro'S By Ric...|            37|https://www.googl...|   TX|         Weslaco|
|Supreme Lunch Bre...|       4.3|[Restaurant, Deli...|0x14e3eabd71cef42...|33.424982199999995|      -111.9768512| Supreme Lunch Break|            48|https://www.googl...|   AZ|           Tempe|
|Nine Dragons, 214...|       3.6|[Chinese restaura...|0x152f777651683fd...|        36.5639907|       -87.3102055|        Nine Dragons|           135|https://www.googl...|   TN|     Clarksville|
|Taste Of Times Sq...|       4.6|        [Restaurant]|0x15325eb932be955...|         37.691835|        -97.336584|Taste Of Times Sq...|            26|https://www.googl...|   Wi| 402 N Market St|
|Subzero, 1707 Ced...|       4.6|[Sandwich shop, T...|0x153325ff429d6fb...|        37.9780594|        -85.681559|             Subzero|             5|https://www.googl...|   KY|  Shepherdsville|
|Char's Hot Dogs, ...|       4.7|[Hot dog restaura...|0x153326668aff359...|        38.0461618|      -122.1616748|     Char's Hot Dogs|            38|https://www.googl...|   CA|         Benicia|
|Wiley's Cooking W...|       5.0|[Wood supplier, F...|0x4055327aa0b2c75...|         45.348307|      -122.7965105|Wiley's Cooking W...|             3|https://www.googl...|   OR|        Sherwood|
|Fanatico, 162 W M...|       4.7|[Italian restaurant]|0x405beac8b5ab18b...|42.834234599999995|       -88.7315553|            Fanatico|           365|https://www.googl...|   WI|      Whitewater|
|New York Kim-Bob ...|       4.3|[Korean restauran...|0x4065fd476208a27...|40.764643199999995|-73.81192399999999|New York Kim-Bob ...|            68|https://www.googl...|   NY|          Queens|
|El Chalateco, 209...|       4.3|[Salvadoran resta...|0x406636149c2b246...|        41.1630556|       -95.9244444|        El Chalateco|            88|https://www.googl...|   NE|        Bellevue|
|Paesano's Pizza, ...|       3.9|[Pizza restaurant...|0x406f7e2f0d267b6...|         40.365744|        -80.389954|     Paesano's Pizza|            25|https://www.googl...|   PA|    Burgettstown|
|Rob's Lunch Box D...|       4.8|[Restaurant, Rest...|0x407636ffaaab494...|        38.3551241|      -122.7086001|Rob's Lunch Box D...|             4|https://www.googl...|   CA|    Rohnert Park|
|My Canton Restaur...|       3.9|[Salvadoran resta...|0x40772f458fcf0f0...|         38.923369|        -77.041099|My Canton Restaurant|            58|https://www.googl...|   DC|      Washington|
|The Courtyard Caf...|       4.5|[Restaurant, Take...|0x4ca4c21dafb387a...|        46.1254187|-67.83913629999999|  The Courtyard Café|            48|https://www.googl...|   ME|         Houlton|
|At The Bridge Res...|       4.3|        [Restaurant]|0x4ca54eddaaf60c0...|         45.612972|       -68.5400405|At The Bridge Res...|            18|https://www.googl...|   ME|          Medway|
|Morano's Authenti...|       4.9|[Pizza Takeout, P...|0x4ca8bdc01ff8061...|        44.8583395|        -66.983698|Morano's Authenti...|            46|https://www.googl...|   ME|           Lubec|
|New Meadows Seafo...|       4.8|[Seafood market, ...|0x4cad85e6d5f862d...|        43.9280587|       -69.8585195|New Meadows Seafo...|             8|https://www.googl...|   ME|       West Bath|
+--------------------+----------+--------------------+--------------------+------------------+------------------+--------------------+--------------+--------------------+-----+----------------+
only showing top 20 rows

In [45]:
# Filtrar las filas con estados 'NY', 'CA' 
estados_seleccionados = ['NY', 'CA'] 

df = df.filter(df['state'].isin(estados_seleccionados))

In [50]:
# Mostrar el DataFrame
df.show()

+--------------------+----------+--------------------+--------------------+------------------+------------------+--------------------+--------------+--------------------+-----+--------------+
|             address|avg_rating|            category|             gmap_id|          latitude|         longitude|                name|num_of_reviews|                 url|state|          city|
+--------------------+----------+--------------------+--------------------+------------------+------------------+--------------------+--------------+--------------------+-----+--------------+
|Char's Hot Dogs, ...|       4.7|Hot dog restauran...|0x153326668aff359...|        38.0461618|      -122.1616748|     Char's Hot Dogs|            38|https://www.googl...|   CA|       Benicia|
|New York Kim-Bob ...|       4.3|Korean restaurant...|0x4065fd476208a27...|40.764643199999995|-73.81192399999999|New York Kim-Bob ...|            68|https://www.googl...|   NY|        Queens|
|Rob's Lunch Box D...|       4.8|Restaurant, Resta...|0x407636ffaaab494...|        38.3551241|      -122.7086001|Rob's Lunch Box D...|             4|https://www.googl...|   CA|  Rohnert Park|
|Dunkin', 1038 Sta...|       3.5|Coffee shop, Bage...|0x4cca29c04f91cd3...|        44.9814893|-73.45927689999999|             Dunkin'|           135|https://www.googl...|   NY|     Champlain|
|Hemingway Farms L...|       5.0|          Restaurant|0x4cca2d61e4f9143...|        44.8967204|       -73.5527609| Hemingway Farms LLC|             5|https://www.googl...|   NY|        Altona|
|Homestead Restaur...|       3.8|Breakfast restaurant|0x4cca3876b359eea...|44.705822999999995|        -73.511415|Homestead Restaurant|            78|https://www.googl...|   NY|   Plattsburgh|
|Meron's Restauran...|       4.5|Bar, American res...|0x4cca38bd56e9b69...|44.704377799999996|       -73.4672111|  Meron's Restaurant|            83|https://www.googl...|   NY|   Plattsburgh|
|Grandma's Spanish...|       4.7|          Restaurant|0x4cca40ad03852f2...|        44.6845442|       -73.4502605|Grandma's Spanish...|           165|https://www.googl...|   NY|   Plattsburgh|
|Little Caesars Pi...|       3.3|Pizza restaurant,...|0x4cca477e599e607...|        44.7010716|       -73.4943591|Little Caesars Pizza|            54|https://www.googl...|   NY|   Plattsburgh|
|Westport Yacht Cl...|       4.8|Fine dining resta...|0x4cca9a72fa637ce...|        44.1807763|-73.42899109999999| Westport Yacht Club|            18|https://www.googl...|   NY|      Westport|
|Gene's, 105 S Mai...|       4.5|Hot dog restauran...|0x4ccaa3a5823f6fd...|        44.0405841|-73.46146329999999|              Gene's|           145|https://www.googl...|   NY|    Port Henry|
|Nicola's, 2617 Ma...|       3.5|  Italian restaurant|0x4ccae28f14abb59...|        44.2845015|       -73.9840555|            Nicola's|            78|https://www.googl...|   NY|   Lake Placid|
|Purple Saige Bist...|       4.5|          Restaurant|0x4ccae29ab44b019...|        44.2933552|       -73.9902046| Purple Saige Bistro|            88|https://www.googl...|   NY|   Lake Placid|
|Nonna Fina, 151 R...|       3.3|          Restaurant|0x4ccb1b2689eec94...|        44.3239654|-74.12493189999999|          Nonna Fina|            56|https://www.googl...|   NY|  Saranac Lake|
|Sansone's Restaur...|       4.0|          Restaurant|0x4ccbed76192b9ad...|44.849801199999995|       -74.2797908|Sansone's Restaurant|            18|https://www.googl...|   NY|        Malone|
|Firehouse Pizzeri...|       5.0|          Restaurant|0x4ccc5dd77c2956d...|        44.7511997|        -74.993918|  Firehouse Pizzeria|             3|https://www.googl...|   NY|       Norwood|
|Dunkin', 119 Mapl...|       3.9|Coffee shop, Bage...|0x4ccc61450e93f37...|        44.6676101|       -75.0020523|             Dunkin'|            28|https://www.googl...|   NY|       Potsdam|
|Domino's Pizza, 1...|       3.7|Pizza delivery, D...|0x4ccc674c750f9ac...|        44.6849067|        -74.987314|      Domino's Pizza|            65|https://www.googl...|   NY|       Potsdam|
|Cascade Inn, 4 W ...|       3.8|   Motel, Restaurant|0x4ccc6dd76c33e61...|        44.5953916|       -75.1760183|         Cascade Inn|           126|https://www.googl...|   NY|        Canton|
|Town Line Market,...|       4.2|Convenience store...|0x4ccc6ff6444dfc7...|        44.7997182|        -74.782732|    Town Line Market|            13|https://www.googl...|   NY| Brasher Falls|
+--------------------+----------+--------------------+--------------------+------------------+------------------+--------------------+--------------+--------------------+-----+--------------+
only showing top 20 rows

## Carga de nuestro archivo

In [ ]:
# Ruta al archivo Parquet local 
file_path = 'PF_Google_yelp_Map/Notebook/metadata-sitios-limpio' 
# Escribe el DataFrame a un solo archivo CSV localmente
df.coalesce(1).write.csv(file_path, header=True, mode='overwrite')